<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25 py-5">
        <div class="title pb-5">
            Dashboard
        </div>
        <button type="button" class="btn btn-danger"><a href="/" style="text-decoration: none; color: #fff;">Logout</a></button>
    </div>
</div>

<%- include('footer') -%>