<%- include('header') -%>

<div class="text-center center-div" id="login">
    <div class="container w-25 py-5">
        <h4 class="title"><b>Welcome to Dashboard</b></h4>
        <h6 class="mb-5"><%= locals.user ? user :"User" %></h6>
        <button type="button" class="btn btn-danger"><a href="/route/logout" style="text-decoration: none; color: #fff;">Logout</a></button>
    </div>
</div>

<%- include('footer') -%>